*:focus {
  outline: 0 !important;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.icon {
  border: none;
  background: none;
  float: right;
  color: #555555;
}

#email-sent svg {
  margin-left: 317px;
}

.title {
  display: flex;
  width: 100%;
  height: 50px;
  font-weight: bold;
  border-radius: 0;
  background-color: #333333;
  color: #fff;
  padding: 14px;
  font-size: 16px;
}

.modal {
  background-color: #fff;
  max-height: 400px;
  height: auto;
  overflow: hidden;
  color: black;
  position: fixed;
}

.modal-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}

.modal-text, .modal-footer {
  padding: 21px;
}

@media only screen and (max-width: 1920px) {
  .modal {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 450px;
    transform: translate(-50%, -50%);
  }
}


@media only screen and (max-width: 450px) {
  .modal {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 330px;
    transform: translate(-50%, -50%);
  }
  #email-sent svg {
    margin-left: 198px !important;
  }
}
