@import '~bootstrap/scss/bootstrap.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: black;
  color: white;
}

#root {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url("assets/img/bgimage-brand.png") no-repeat center center fixed;
  background-size: cover;
  margin: auto;
}

@media only screen and (max-width: 450px) {
  #root {
    background: url("assets/img/bgimage-bottom.png") no-repeat bottom;
    //background-position: bottom !important;
    //background-attachment: fixed;
  }
}
