@import '~bootstrap/scss/bootstrap.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: black;
  color: white;
}

#globalLogo {
  width: 237px;
  height: 52px;
  margin-top:15px;
}

#root {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url("assets/img/bgimage-brand.png") no-repeat center center fixed;
  background-size: cover;
  margin: auto;
  //Left-block-width:  895.87px - 896 ~ px
  //Inner-padding-left: 191.89px ~ 192px
  //Inner-padding-top: 135.54px ~
}